player-connection-mode=Listen
player-connection-guid=3254857179
player-connection-debug=0
player-connection-project-name=JoPolik
player-connection-ip=10.200.243.232
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ca4cbf9c72644997b65ae401b06c7577
