player-connection-mode=Listen
player-connection-guid=1252056267
player-connection-debug=0
player-connection-project-name=JoPolik
player-connection-ip=10.79.207.232
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ddab001382454effacf8005ad42cf543
